---
layout: default
title: GitLab + Bank of Ireland - Develop a Faster DevOps lifecycle
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Supporting Bank of Ireland's Innovation Agenda
        %h2.page-subtitle A Bank of Ireland exclusive webcast

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 May 30th, 10am BST
            %p Today’s toolchain limits a faster DevOps lifecycle, and it’s getting worse. The shift to microservices creates an explosion of projects that is difficult to handle. 
            %p GitLab, a single application for the entire DevOps lifecycle, can help unlock DevOps from today’s toolchain for a radically faster cycle time.
            %p Join our experts Justin Haley and Ralf Gronkowski as they illustrate how The Bank of Ireland can realise Concurrent DevOps to provide greater visibility, efficiency, and governance. 

          .content-section
            %h3 In this session, we'll cover how to:
            %ul
              %li Make teams more efficient - start immediately, work concurrently, eliminate handoffs
              %li Enable visibility across the DevOps Lifecycle - see changes, cycle times, security and operational health
              %li Support governance - auditability, traceability, and enablement of data-driven decisions
              %li Extract the power of Docker and show how GitLab is optimised for a microservices architecture

        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1592
            :javascript
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1592, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional webcast details.
