%p
  = "#{data.currency_exchange_rates.last_updated} Oanda Rates"

%div.table-responsive
  %table
    %thead
      %tr
        %th
          Currency
        %th
          Rate from USD
        %th
          Rate to USD
    %tbody
      - data.currency_exchange_rates.rates_to_usd.each do |currency|
        %tr
          %td
            = currency["currency_code"]
          %td
            = (1.0 / currency["rate"].to_f).round(5)
          %td
            = currency["rate"]
