---
layout: default
title: Interactive HA/Geo Q&A with Infrastructure Team
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Interactive HA/Geo Q&A with GitLab's Infrastructure Team
        %h2.page-subtitle Discussion on GitLab's HA/Geo configuration of gitlab.com

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 June 18th, 9-10am PDT / 12-1p EDT
            %p Join our infrastructure team in a fireside chat on how we've configured gitlab.com's HA/Geo set up. gitlab.com supports thousands of users and our customers often ask how we've scaled this and what would be ideal for them to set up themselves.

            %h3 Topics covered:
            %ul
              %li Failover state
              %li Monitoring
              %li What portions of the GL setup are stateless and which are stateful?
              %li NFS Redundancies
              %li Sidekiq Queue Splitting
              %li PG Bouncer
              %li Redis Sentinel
              %li GitLab Service Discovery
              %li HA Proxy
              %li Cloud vs. on-prem


          .content-section
            %h3 About GitLab
            %p GitLab is the first single application for the entire DevOps lifecycle. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This make the software lifecycle 3 times faster, radically improving the speed of business.
            %br
            %p GitLab delivers complete real-time visibility of all projects and relevant activities across the expanded DevOps lifecycle. For the first time, teams can see everything that matters. Changes, status, cycle times, security and operational health are instantly available from a trusted single source of data. Information is shown where it matters most, e.g. production impact is show together with the code changes that caused it. And developers see all relevant security and ops information for any change.


        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1592
            :javascript
              MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1592, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional webcast details.
