---
layout: markdown_page
title: Fulfillment Team
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

For more details about the product vision for Fulfillment, see our [Fulfillment](/direction/fulfillment/) page.

Fulfillment manages several product categories:

| Category | Description |
| ------ |  ------ |
| [Licensing (license.gitlab.com)](https://gitlab.com/gitlab-org/license-gitlab-com) | Covers all aspects of our licensing model, from how we count seats and conduct true-up to how we count active seats and keep the customer informed on their seat utilization. |
| [Transactions (customers.gitlab.com)](https://gitlab.com/gitlab-org/customers-gitlab-com) | How customers pay for GitLab. Licensing is about how we package GitLab as an offering, whereas Transactions is about how we fulfill those business relationships and how we make doing business with GitLab a great experience for both self-managed and GitLab.com. |
| [Telemetry (usage statistics, version check)](https://gitlab.com/gitlab-org/version-gitlab-com) | Help instances understand more about how people are using GitLab. |

### Team members

<%= direct_team(manager_role: 'Engineering Manager, Fulfillment (Interim)') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Fulfillment/, direct_manager_role: 'Engineering Manager, Fulfillment (Interim)') %>

## Common links

 * [All open Fulfillment epics](https://gitlab.com/groups/gitlab-org/-/epics?label_name%5B%5D=Fulfillment&page=2&scope=all&state=opened)
 * [Issue Tracker](https://gitlab.com/gitlab-org/fulfillment/issues)
 * [Slack Channel #g_fulfillment](https://gitlab.slack.com/app_redirect?channel=g_fulfillment)
