.hello-bar-wrapper
  %a.hello-bar.animated.hello-bar-dark{ href: '/2018/12/22/gitlab-11-6-released/' }
    .hello-bar-content
      -# = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
      %p
        GitLab 11.6 released with Serverless, Group-level clusters and much more!
