---
layout: default
title: Top Annual Contributors
description: "Landing page for top community contributors"
suppress_header: true
extra_css:
  - contributing.css
---

<div class="simple-header">
  <h1>Top Annual Contributors</h1> 
  <p>As an open source project, GitLab has thousands of contributions from the wider community. This page will highlight top contributors starting with 2018.</p>
</div>

<div class="content-container">
  <div class="text-center">
    <h1>2018 top contributors</h1>
    <p>Number of wider community contributors: 420</p>
    <p>Number of merged MR's: 1,464</p>
  </div>

  <div class="content">
    <table style="width:80%", align="center">
      <tr>
        <th>Category*</th>
        <th>Contributors</th>
        <th>Merged MRs</th>
      </tr>
      <% data.top_contributors_2018.each do |contributors| %>
        <tr>
          <td>
            <% if contributors.category == 'SuperStar' %>
              <i class="fas fa-trophy color-primary"></i>
              <%= contributors.category %>
            <% end %>
            <% if contributors.category == 'Star' %>
              <i class="fas fa-medal"></i>
              <%= contributors.category %>
            <% end %>
            <% if contributors.category == 'Enthusiast' %>
              <i class="fas fa-award color-gray"></i>
              <%= contributors.category %>
            <% end %>
          </td>
          <td><a href="<%= contributors.gitlab %>"><%= contributors.name %></td>
          <td><%= contributors.merged_mrs %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="content">  
    <div class="text-center">
      <p>*Legend</p>
      <p><i class="fas fa-trophy color-primary"></i> SuperStar: More than 75 merged MRs</p>
      <p><i class="fas fa-medal"></i> Star: Between 11 & 75 merged MRs</p>
      <p><i class="fas fa-award color-gray"></i> Enthusiast: Between 5 & 10 merged MR's</p>
    </div>
  </div>
  
</div>
