---
title: Value Stream Management
description: Value Stream Management
suppress_header: true
---
.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %h1 Value Stream Management
    %p See how Value Stream Management from GitLab helps improve software delivery.
    %a.btn.cta-btn.accent{ href: "/sales" } Contact us
.gitlab-content-container.reverse-content
  .content.row-layout
    .full-width
      %h2 Value Stream Management Tools
      %p GitLab is a "Strong Performer" in The Forrester New Wave: Value Stream Management Tools, Q3 2018.  According to the report, “GitLab combines end-to-end capability with the power of open source. GitLab offers a DevOps tool for each step of the software development process. Top-level views sitting across these tools provide its VSM functionalities.”
      %p GitLab is the first single application for the entire DevOps lifecycle. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance.
      %a.btn.cta-btn.accent.margin-top20{ href: "/analysts/forrester-vsm" } Download Report
    .full-width
      %img.screenshot.margin-bottom10{ src: "/images/vsm/Forrester_VSM_Tool_New_Wave-v1.png", alt: "Forrester Value Stream Management New Wave" }
      %i.font-small Value Stream Management
  .content
    %h2 Issue Boards for Mapping
    %iframe.full-width{ src: "https://www.youtube.com/embed/9ASHiQ2juYY", frameborder: "0", allow: "autoplay, encrypted-media", allowfullscreen: "" }
  .content
    %h2 Business Value Monitoring
    %iframe.full-width{ src: "https://www.youtube.com/embed/oG0VESUOFAI", frameborder: "0", allow: "autoplay, encrypted-media", allowfullscreen: "" }
  .content.row-layout
    .full-width
      %h2 End to end process
      %p The value streams help you visualize and manage the flow of new innovation from idea to customers.
      %ul
        %li
          %strong
            One toolchain:
          In software, the toolchain is your value stream.  GitLab brings the toolchain together into a single application.
        %li
          %strong
            Shared data:
          GitLab consolidates the disconnected islands of data into a complete view of actual work.
        %li
          %strong
            Focus on value - not ceremony:
          Track and manage the actual flow of work / value and eliminate unnecessary ceremony.
    .full-width
      %img.screenshot.margin-bottom10{ src: "/images/vsm/waste.png", alt: "Value Streem Management End to End Process" }
      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/6323", target: "_blank" }
        %i.font-small *Future feature, not actual screenshot
  .content.row-layout
    .full-width
      %h2 Measure
      %p Drive continuous improvement based on the data from your value stream.
      %ul
        %li
          %strong
            Track flow and accelerate:
          Focusing on the flow of value to customers is key to streamlining process.
        %li
          %strong
            Cycle time:
          Track the actual work and effort, the real cycle time to deliver value.
        %li
          %strong
            Business value:
          Link actual value back to the change.
    .full-width
      %img.screenshot.margin-bottom10{ src: "/images/vsm/line.png", alt: "Value Streem Management End to End Process" }
      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/6323", target: "_blank" }
        %i.font-small *Future feature, not actual screenshot
  .content.row-layout
    .full-width
      %h2 Manage
      %p The value streams help you visualize and manage the flow of new innovation from idea to customers.
      %ul
        %li
          %strong
            Identify constraints:
          Find the sources of friction in your value stream.
        %li
          %strong
            Remove bottlenecks:
          Take action to address constraints.
        %li
          %strong
            Optimize flow:
          Accelerate and
    .full-width
      %img.screenshot.margin-bottom10{ src: "/images/vsm/bars.png", alt: "Value Streem Management End to End Process" }
      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ee/issues/6323", target: "_blank" }
        %i.font-small *Future feature, not actual screenshot
